<!DOCTYPE html>
<html>
<head>
	<title>Super Hero</title>
</head>
<body>
	<h1>Create a Team and Heroes!</h1>
	<form action="team" method="POST">
		<label for="team_name">Team Name: </label>
		<input type="text" name="team[name]" id="team_name">
		<label for="team_motto">Team Motto: </label>
		<input type="text" name="team[motto]" id="team_motto">
		<%(1..3).each do |i| %>
		<h2>Hero <%= i %></h2>
		<label for="member<%= i %>_name">Hero's name: </label>
		<input type="text" name="team[hero][][name]" id="member<%= i %>_name">
		<label for="member<%= i %>_power">Hero's power: </label>
		<input type="text" name="team[hero][][power]" id="member<%= i %>_power">
		<label for="member<%= i %>_bio">Hero's biography: </label>
		<input type="text" name="team[hero][][biography]" id="member<%= i %>_bio">
		<% end %>
		<br><br>
		<input type="submit" value="Submit" id="submit">
	</form>
</body>
</html>
